
db:
    image: percona
    volumes:
        - ./mysql:/var/lib/mysql
    env_file: conf/mysql
    ports:
        - 127.0.0.1:3306:3306

redis:
    image: redis:alpine

mailcatch:
    image: mailhog/mailhog

php5:
    build: php5
    volumes:
        - ./workspace:/data
    links:
        - db
        - mailcatch
        - redis

php7:
    build: php7
    volumes:
        - ./workspace:/data
    links:
        - db
        - mailcatch
        - redis

web:
    build: web
    volumes:
        - ./workspace:/data:ro
    links:
        - php5:fpm

        - php5:fpm5
        - php7:fpm7

        - mailcatch
    ports:
        - 127.0.0.1:80:80
        - 127.0.0.1:443:443

