data:
    image: busybox
    net: none
    volumes: 
        - ./workspace:/data

db:
    image: percona
    restart: always
    volumes:
        - ./mysql:/var/lib/mysql
    env_file: conf/mysql
dbclient:
    image: percona
    command: bash
    links:
        - db

redis:
    image: redis
    restart: always

mailcatcher:
    image: schickling/mailcatcher
    restart: always

blackfire:
    image: blackfire/blackfire
    restart: always
    env_file: 
        - conf/blackfire

blackfireclient:
    image: blackfire/blackfire
    command: blackfire version
    net: host
    env_file: 
        - conf/blackfire

phpfpm:
    build: phpfpm
    restart: always
    volumes_from:
        - data
    links:
        - db
        - mailcatcher
        - redis
        - blackfire

web:
    build: nginx
    restart: always
    volumes_from:
        - data
    links:
        - phpfpm:fpm
        - mailcatcher
    ports:
        - 80:80
        - 443:433

