volumes:
  dockerdev-mysql-volume:
    external: true
  dockerdev-workspace-volume:
    external: true

services:
  db:
    container_name: dockerdev-db
    image: percona
    volumes:
      - ./conf.d/mysql/my.cnf:/etc/my.cnf.d/development.cnf:ro
      - dockerdev-mysql-volume:/var/lib/mysql:rw
    environment:
      - MYSQL_ROOT_PASSWORD
    ports:
      - 127.0.0.1:3306:3306

  mailcatch:
    image: mailhog/mailhog

  php56:
    build:
      context: build/dist/php
      args:
        - FROM_TAG=php5-fpm
    volumes:
      - dockerdev-workspace-volume:/data
  php70:
    build:
      context: build/dist/php
      args:
        - FROM_TAG=php7-fpm
    volumes:
      - dockerdev-workspace-volume:/data
  php71:
    build:
      context: build/dist/php
      args:
        - FROM_TAG=php71-fpm
    volumes:
      - dockerdev-workspace-volume:/data
  php72:
    build:
      context: build/dist/php
      args:
        - FROM_TAG=php72-fpm
    environment:
      - "BLACKFIRE_AGENT_SOCKET=unix:///dev/null"
    volumes:
      - dockerdev-workspace-volume:/data
  php73:
    build:
      context: build/dist/php
      args:
        - FROM_TAG=php73-fpm
    environment:
      - "BLACKFIRE_AGENT_SOCKET=unix:///dev/null"
    volumes:
      - dockerdev-workspace-volume:/data
  php74:
    build:
      context: build/dist/php
      args:
        - FROM_TAG=php74-fpm
    environment:
      - "BLACKFIRE_AGENT_SOCKET=unix:///dev/null"
    volumes:
      - dockerdev-workspace-volume:/data
  php80:
    build:
      context: build/dist/php
      args:
        - FROM_TAG=php80-fpm
    environment:
      - "BLACKFIRE_AGENT_SOCKET=unix:///dev/null"
    volumes:
      - dockerdev-workspace-volume:/data

  php81:
    build:
      context: build/dist/php
      args:
        - FROM_TAG=php81-fpm
    environment:
      - "BLACKFIRE_AGENT_SOCKET=unix:///dev/null"
    volumes:
      - dockerdev-workspace-volume:/data
    links:
      - db
      - mailcatch
      - redis
    network_mode: bridge

  redis:
    image: redis:alpine

  web:
    build:
      context: build/dist/web
    volumes:
        - dockerdev-workspace-volume:/data:ro
    environment:
      - DOMAINSUFFIX
  ssl:
    depends_on:
      - web
    build:
      context: build/dist/ssl
    ports:
        - "80:80"
        - "443:443"
